/* ############## */
/* Reset the page*/
/* ############## */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ############### */
/* general classes */
/* ############### */

.flex {
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* ############## */
/* Compontents    */
/* ############## */
@media (max-width:50rem) {
    #primary-navigation {
        z-index: 10;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        padding-block-start: 6rem;
        top: -20px;
        right: 0;
        height: 110vh;
        width: 60%;
        border-radius: 2px;
        background-color: gray;
        transform: translateX(100%);
        transition: transform 600ms ease-in-out 0.1ms;
    }

    #primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle-parent {
        align-self: flex-start;
        width: max(5%, 3rem);
        height: 100%;
    }

    .mobile-nav-toggle[aria-checked="false"] {
        display: block;
        width: 1.875rem;
        height: 0.3125rem;
        background-color: black;
        border-radius: 1.25rem;
        transform: translateY(0.3125rem);
        box-shadow: 0 0.625rem 0 0 black, 0 1.25rem black;
    }

    .mobile-nav-toggle[aria-checked="true"] {
        z-index: 11;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 1.875rem;
        height: 0.3125rem;
        background-color: black;
    }
}

@media (min-width:50.00001rem) {
    .mobile-nav-toggle-parent {
        display: none;
    }

    .mobile-nav-toggle[aria-checked="false"] {
        display: none;
    }
}

.primary-nav {
    justify-content: space-between;
    height: 100px;
    margin-inline: 10%;
    border-bottom: 1px solid red;
    margin-block-start: 2.55rem;
    /* background-color: aquamarine; */
}

@media (max-width:1200px) {
    .primary-nav {
        margin-inline: 2%;
    }
}

.logo--primary-nav {
    width: max(10%, 8.125rem);
    max-height: 100%;
    transform: scale(1.1);
    align-self: flex-start;
}

.header--primary-nav {
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    /* background-color: yellowgreen; */
}

.header--primary-nav ul {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    font-size: 1.15rem;
    gap: 7%;
    /* background-color: crimson; */
}

.header--primary-nav ul li {
    /* height: 100%; */
    display: flex;
}

.header--primary-nav ul li a {
    position: relative;
    width: 100%;
    height: 100;
    text-decoration: none;
    color: black;
}

.header--primary-nav ul li a:hover,
.header--primary-nav ul li a:active {
    color: #1FACFA;
}

.header--primary-nav ul li a:hover:after {
    content: "";
    position: absolute;
    /* it will only work if you set the parent position relative */
    /*and the child position absolute and set a value to the width*/
    width: inherit;
    height: 1px;
    /* edit */
    bottom: -1px;
    left: 0;
    background-color: #1FACFA;
}

.search-class--primary-nav {
    width: max(10%, 5rem);
    height: 100%;
    position: relative;
    justify-content: flex-end;
    padding-inline-start: 2.5rem;
    padding-inline-end: 0.3125rem;
    /* background-color: burlywood; */
}

.search-class--primary-nav::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 2.5rem;
    top: 0;
    left: 40%;
    background-color: black;
}

.search-class {
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.625rem black;
    transform: scale(50%);
}

.search-class::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.9375rem;
    bottom: -0.9375rem;
    right: -2.1875rem;
    transform: rotate(45deg);
    background-color: black;

}