/* ############## */
/* Reset the page*/
/* ############## */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    position: relative;
    font-family: sans-serif;
}

html,
body {
    overflow-x: hidden;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ################################################################################################################## */
/* ###############                                              #########
/* general classes                                              #    #  
/* ###############                                              #####
/* ################################################################################################################## */

.flex {
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* ################################################################################################################## */
/* #########                                                     ####
/* componet                                                      #
/* #########                                                     ####
/* ################################################################################################################## */

/* main header */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #145E75; */
}

.main-header h1 {
    position: relative;
    /* width: 20%; */
    font-size: 2rem;
    margin-block-end: 3rem;
}

.main-header h1::before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    bottom: -2rem;
    left: calc(50% - 0.65rem);
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
}

.main-header h1::after {
    content: "";
    position: absolute;
    width: 6rem;
    height: 0.125rem;
    bottom: -1.2rem;
    left: calc(50% - 3rem);
    background-color: black;
}

.main-header p {
    text-align: center;
    font-size: 1.2rem;
    color: #777788;
}

/* dark background */
.dark {
    position: relative;
}

.dark-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
}

/* ############################################################################################################################################################### */
/* ###################                                          ####
/* the page classes                                             ####
/* ###################                                          #
/* ############################################################################################################################################################### */

/* the nav NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
@media (max-width:50rem) {
    #primary-navigation {
        z-index: 10;
        position: absolute;
        display: none;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        padding-block-start: 6rem;
        top: -20px;
        right: 0;
        height: 110vh;
        width: 60%;
        border-radius: 2px;
        background-color: black;
        transform: translateX(100%);
        transition: transform 600ms ease-in-out 0.1ms;
    }

    #primary-navigation[data-visible="true"] {
        transform: translateX(2%);
    }

    .mobile-nav-toggle-parent {
        align-self: flex-start;
        width: max(5%, 3rem);
        height: 100%;
    }

    .mobile-nav-toggle[aria-checked="false"] {
        display: block;
        width: 1.875rem;
        height: 0.3125rem;
        background-color: white;
        border: 0;
        border-radius: 1.25rem;
        transform: translateY(0.3125rem);
        box-shadow: 0 0.625rem 0 0 white, 0 1.25rem white;
    }

    .mobile-nav-toggle[aria-checked="true"] {
        z-index: 11;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 1.875rem;
        height: 0.3125rem;
        background-color: white;
    }
}

@media (min-width:50.00001rem) {
    .mobile-nav-toggle-parent {
        display: none;
    }

    .mobile-nav-toggle[aria-checked="false"] {
        display: none;
    }
}

.primary-nav {
    position: absolute;
    z-index: 4;
    left: 5%;
    width: 90%;
    justify-content: space-between;
    height: 120px;
    margin-inline-end: 10%;
    border-bottom: 1px solid white;
    padding-block-start: 2.55rem;
    /* background-color: aquamarine; */
}

@media (max-width:1200px) {
    .primary-nav {
        margin-inline: 2%;
        left: -1%;
        width: 98%;
    }
}

.logo--primary-nav {
    width: max(10%, 8.125rem);
    max-height: 100%;
    align-self: flex-start;
}

.header--primary-nav {
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    /* height: 2rem; */
    /* background-color: yellowgreen; */
}

.header--primary-nav ul {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    font-size: 1.15rem;
    gap: 7%;
    /* background-color: crimson; */
}

.header--primary-nav ul li {
    display: flex;
}

.header--primary-nav ul li a {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: white;
}

.header--primary-nav ul li a:hover,
.header--primary-nav ul li a:active {
    color: #1FACFA;
}

.header--primary-nav ul li a:hover:after {
    content: "";
    position: absolute;
    /* it will only work if you set the parent position relative */
    /*and the child position absolute and set a value to the width*/
    width: inherit;
    height: 1px;
    /* edit */
    bottom: -1px;
    left: 0;
    background-color: #1FACFA;
}

.search-class--primary-nav {
    width: max(10%, 5rem);
    height: 100%;
    position: relative;
    justify-content: flex-end;
    transform: translateX(-1rem);
    padding-inline-start: 2.5rem;
    padding-inline-end: 0.3125rem;
    /* background-color: burlywood; */
}

.search-class--primary-nav::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 2.5rem;
    top: 0;
    left: 40%;
    background-color: white;
}

.search-class {
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.625rem white;
    transform: scale(50%);
}

.search-class::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.9375rem;
    bottom: -0.9375rem;
    right: -2.1875rem;
    transform: rotate(45deg);
    background-color: white;

}

/* the landing LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */
.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content--land {
    width: 100%;
    height: fit-content;
    padding-block: 2.5rem;
    padding-inline: 15%;
    color: white;
    background-color: #145E75;
}

.landing h1 {
    margin-block-end: 2rem;
    font-size: 1.6rem;
}

.landing p {
    font-size: 1rem;
}

@media (min-width:50rem) {
    .content--land {
        width: min(80%, 35rem);
        padding-block: 3rem;
        padding-inline: 2.5%;
        line-height: 1.8;
    }
}

.three-dots {
    position: absolute;
    bottom: 0.625rem;
    align-self: center;
    display: flex;
    gap: 1rem;
    transform: translateY(-2rem);
}

.three-dots button {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
}

.three-dots button[aria-checked="true"] {
    background-color: #1FACFA;
}

/* sercice SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */

.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.service .main-header {
    margin-block: 2rem;
    justify-items: center;
}

.content--service {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 1rem;
    gap: 0.5rem;
    /* background-color: rebeccapurple; */
}

.box img {
    max-width: 3rem;
}

.box h2 {
    color: #1FACFA;
    font-size: 1.43rem;
}

.box p {
    font-size: 1.1rem;
    color: #777788;
}

@media (min-width:50rem) {
    .service {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }

    .service .main-header {
        grid-column: 2/3;
        margin-block: 2rem;
    }

    .content--service {
        grid-column: 2/3;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        /* background-color: rebeccapurple; */
        /* margin-block-end: 1rem; */
    }

    .box img {
        grid-column: 1/2;
        transform: translateX(-2rem);
        justify-self: end;
    }

    .box h2 {
        justify-self: start;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box p {
        justify-self: start;
        text-align: left;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (min-width:62.5rem) {
    .service {
        grid-template-columns: 1fr 6fr 1fr;
    }

    .content--service {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
}

/* design DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
.design {
    height: calc(50vh + 5rem);
    /* height: fit-content; */
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.design>img {
    display: none;
    visibility: hidden;
}

.content--design {
    width: 100%;
    height: min(fit-content, 100%);
    padding-block: 2rem;
    padding-inline: 5%;
    transform: translateY(5%);
    color: white;
    background-color: #145E75;
}


.design h2 {
    margin-block-end: 1.5rem;
    font-size: 1.2rem;
}

.design ul {
    list-style: none;
    padding-inline: 0;
}

.design li {
    margin-block-end: 1rem;
}

.design img {
    display: inline;
    width: 1.2rem;
    margin-inline-end: 1rem;
    transform: translateY(.4rem);
}

@media (min-width:50rem) {
    .design {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .design>img {
        align-self: flex-end;
        display: block;
        visibility: visible;
        min-width: 20rem;
        min-height: 15rem;
        transform: translate(20%, 20%);
    }

    .content--design {
        width: 50%;
    }

    .design li {
        margin-block-end: 2rem;
    }
}

/* portfolio PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP*/
.portfolio {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-end: 2rem;
}

.portfolio .main-header {
    width: 100%;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
}

#portfolio-list {
    gap: .5rem;
}

#portfolio-list li {
    padding: 1rem;
    font-size: 1.2rem;
}

#portfolio-list li[aria-checked="true"],
#portfolio-list li:hover,
#portfolio-list li:active {
    background-color: #1FACFA;
    color: white;

}

.item {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.item img {
    transition: transform 200ms ease-in;
}

.item:hover img {
    transform: rotate(-1.5deg);
}

.item::before {
    transform: translateY(100%);
    z-index: 1;
    content: "Awsome Image";
    position: absolute;
    width: inherit;
    padding: 2rem;
    bottom: 0;
    transition: transform 200ms ease-in;
    background-color: white;
}

.item:hover::before {
    transform: translateY(0);
}

@media (min-width:50rem) {
    .content--portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:75rem) {
    .content--portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.portfolio button {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 1px;
    border: 0;
    color: white;
    background-color: #1FACFA;
}

/* video  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.video {
    position: relative;
    margin-block-end: 2rem;
    width: 100%;
}

.video video {
    width: 100%;
    min-width: 21.875rem;
    min-height: 20rem;
}

.content--video {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-block: 1rem;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    background-color: #145E75;
    color: white;
}

.content--video h2 {
    font-weight: normal;
    font-size: 1.33rem;
}

.content--video p {
    font-size: 1.1rem;
}

.content--video button {
    padding-block: .5rem;
    padding-inline: .8rem;
    font-size: 1.1rem;
    border: 0;
    background-color: black;
    color: white;
}

/*About us AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA  */

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.about-us .main-header {
    margin-block-end: 6rem;
}

.about-us img {
    min-width: 21.875rem;
    transform: translate(-1rem, 4rem);
}

/* Stars SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSTTTSTSTSTSTSTSSTSSTTSTSTSTSTTSSTTS*/

.stars {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-block-end: 2rem;
    padding-block: 2rem;
    padding-inline: 5%;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/stats.png");
}

.small-box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    padding-block: .8rem;
    color: white;
    background-color: #1A5B7A;
}

.small-box h2 {
    font-size: 2.5rem;
}

.small-box img {
    width: 2rem;
}

@media (min-width:40rem) {
    .stars {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-block-start: 2rem;
    }
}

@media (min-width:60rem) {
    .stars {
        grid-template-columns: repeat(4, 1fr);
        min-height: fit-content;
    }

    .small-box {
        height: 200%;
    }
}

/* our skill    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.our-skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-end: 2rem;
    padding-block-end: 2rem;
}


.our-skill-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    margin-block: 3rem;
    text-align: center;

}

.our-skill-header h3 {
    font-size: 1.2rem;
}

.our-skill-header p {
    color: #777788;
}

.our-skill-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2%;
    gap: 2.5rem;
    width: 100%;
}

.testimonials-cont {
    position: relative;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.testimonials-cont::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .05rem;
    bottom: -1rem;
    background-color: #777788;
}

.testimonials-cont img {
    width: 6rem;
    border-radius: 50%;
}

.testimonials-cont span {
    align-self: flex-end;
    transform: translateX(-.5rem);
    color: #777788;
}

.our-skill-testimonials .three-dots {
    position: static;
    margin-block-start: 1rem;
    transform: translateY(0);
}

.our-skill-testimonials .three-dots button {
    width: 1rem;
    height: 1rem;
    border: 1px solid #777788;
}

@media (min-width:40rem) {
    .testimonials-cont {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: .5rem;
        text-align: left;
    }

    .testimonials-cont span {
        grid-column: 2/3;
        position: absolute;
        right: 0;
    }

    .testimonials-cont::after {
        content: "";
        position: absolute;
        width: 80%;
        height: .05rem;
        bottom: -1rem;
        right: 0;
        background-color: #777788;
    }
}

.our-skill-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2%;
    gap: 2.5rem;
    width: 100%;
}

.skills-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.skill-box p {
    margin-block-end: 1rem;
}

.skill-box div {
    position: relative;
    width: 100%;
    height: 2rem;
    background-color: #777788;
}

.skill-box div span {
    position: absolute;
    display: block;
    height: 100%;
    background-color: #1FACFA;
}

.skill-box div span::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    right: -0.5rem;
    top: -1.5rem;
    transform: rotate(45deg);
    background-color: black;
}

.skill-box div span::after {
    content: attr(data-progress);
    position: absolute;
    padding: .2rem;
    top: -2.7rem;
    right: -1.2rem;
    border-radius: 3px;
    background-color: black;
    color: white;
}

@media (min-width:62.5rem) {
    .our-skill {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    }

    .our-skill-testimonials {
        gap: 1.5rem;
        grid-column: 2/3;
    }

    .testimonials-cont {
        height: 35%;
        gap: 1rem;
    }

    .our-skill-testimonials .three-dots {
        transform: translateY(1rem);
    }

    .our-skill-skills {
        grid-column: 4/5;
    }
}

/* quote QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQq */
.qoute {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    margin-block-end: 2rem;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content--qoute {
    z-index: 3;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.content--qoute span {
    font-size: 1.2rem;
}

/* pricing {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{ */

.pricing {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block: 4rem;
    padding-inline: 2%;
}

.content--pricing {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    font-size: 1.1rem;
}

.pricing-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.p1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    /* background-color: yellowgreen; */
}

.p1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .05rem;
    background-color: #1FACFA;
    top: 0;
    left: 0;
}

.p1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .05rem;
    background-color: #1FACFA;
    bottom: 0;
    left: 0;
}

.p1 .value {
    display: inline;
    margin-inline: .5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.p1 .top,
.p1 .bottom {
    font-size: 1rem;
    font-weight: bold;
}

.top {
    display: inline-block;
    transform: translate(0, -1.5rem);
}

.p2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
    /* background-color: burlywood; */
}

.p2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .05rem;
    bottom: 0;
    background-color: #1FACFA;
}

.p2 p {
    position: relative;
    width: fit-content;
}

.p2 p:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .05rem;
    bottom: -.5rem;
    left: 0;
    background-color: #1FACFA;
}

.pricing-box button {
    align-self: center;
    width: fit-content;
    padding: 1rem;
    border: 0;
    background-color: #1FACFA;
    color: white;
}

.pricing .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

.pricing .contact button {
    padding-block: 1rem;
    padding-inline: 2rem;
    border: 0;
    font-size: 1rem;
    color: white;
    background-color: #1FACFA;
}

@media (min-width:35rem) {
    .content--pricing {
        padding-inline: 8%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.875rem, 1fr));
        gap: 2rem;
    }
}


/* subscribe SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSs */

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    margin-block-end: 4rem;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block-end: 2rem;
}

.subscribe form [type="email"] {
    width: 60%;
    padding: 1rem;
    border: 1px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background-color: transparent;
}

.subscribe [type="submit"] {
    padding: 1rem;
    border: 1px solid white;
    transform: translateX(-.5rem);
    font-size: 1.3rem;
    color: white;
    background-color: #1FACFA;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe p {
    font-size: 1.3rem;
    color: white;
}

@media (min-width:60rem) {
    .subscribe {
        flex-direction: row;
    }
}

/* contact CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-inline: 5%;
    margin-block-end: 4rem;
}

.content--contact-us {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.c {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    gap: .5rem;
    text-align: center;
}

.bc p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-block-end: 1rem;
}

.bc span {
    color: #777788;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    font-size: 1.2rem;
}

.contact-us [type="text"],
.contact-us [type="email"] {
    width: 100%;
    padding: .5rem;
    outline: 0;
    border: 1px solid #777788;
}

.contact-us textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 6rem;
    max-height: 6rem;
    overflow-y: scroll;
    padding: .5rem;
    outline: 0;
    border: 1px solid #777788;
}

.contact-us [type="submit"] {
    align-self: flex-end;
    padding: 1rem;
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    background-color: #1FACFA;
}

@media (min-width:50rem) {
    .contact-us {
        padding-inline: 10%;
    }

    .content--contact-us {
        display: flex;
        flex-direction: row-reverse;
        gap: 5%;
    }

    .bc {
        width: 35%;
    }

    .c {
        gap: 1rem;
    }

    .contact-us form {
        width: 65%;
        gap: 1.5rem;
    }

    .contact-us textarea {
        min-height: 12rem;
        max-height: 12rem;
    }
}

/* footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 30rem;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer>* {
    z-index: 2;
}


footer p:not(:last-child) {
    position: relative;
    margin-block-end: 1rem;
    font-size: 1.5rem;
    color: white;
}

footer p:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .09rem;
    bottom: -.6rem;
    left: 0;
    background-color: white;
}

footer> :last-child {
    position: absolute;
    bottom: 2rem;
    margin-block-end: 0;
    font-size: 1.2rem;
    color: white;
}

footer> :last-child span {
    color: #1FACFA;
    font-weight: bold;
}

footer .socials-media {
    display: flex;
    gap: .5rem;
}

.socials-media img {
    display: inline;
    width: 2.4rem;
}